notebooks/Auth.ipynb
notebooks/.ipynb_checkpoints/Auth-checkpoint.ipynb
src/assets/demo/chart-area-demo.js
src/assets/demo/chart-bar-demo.js
src/assets/demo/chart-pie-demo.js
src/assets/demo/datatables-demo.js
src/assets/img/error-404-monochrome.svg
src/js/scripts.js
src/pug/layouts/authentication.pug
src/pug/layouts/dashboard.pug
src/pug/layouts/error.pug
src/pug/layouts/includes/footer.pug
src/pug/layouts/includes/scripts.pug
src/pug/layouts/includes/head/css.pug
src/pug/layouts/includes/head/icons.pug
src/pug/layouts/includes/head/meta.pug
src/pug/layouts/includes/head/title.pug
src/pug/layouts/includes/navigation/sidenav.pug
src/pug/layouts/includes/navigation/topnav.pug
src/pug/pages/401.pug
src/pug/pages/404.pug
src/pug/pages/500.pug
src/pug/pages/charts.pug
src/pug/pages/index.pug
src/pug/pages/layout-sidenav-light.pug
src/pug/pages/layout-static.pug
src/pug/pages/login.pug
src/pug/pages/password.pug
src/pug/pages/register.pug
src/pug/pages/tables.pug
src/pug/pages/includes/datatable.pug
src/pug/pages/includes/page-header.pug
src/scss/_global.scss
src/scss/_variables.scss
src/scss/styles.scss
src/scss/layout/_authentication.scss
src/scss/layout/_dashboard-default.scss
src/scss/layout/_dashboard-fixed.scss
src/scss/layout/_error.scss
src/scss/navigation/_nav.scss
src/scss/navigation/_topnav.scss
src/scss/navigation/sidenav/_sidenav-dark.scss
src/scss/navigation/sidenav/_sidenav-light.scss
src/scss/navigation/sidenav/_sidenav.scss
src/scss/variables/_navigation.scss
src/scss/variables/_spacing.scss
__pycache__/spotifyAPI.cpython-37.pyc
