* { margin: 0; padding: 0; box-sizing: border-box;}
html{
    height: 100vh;
    width: 100vw;
    padding: none;
    margin: none;
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #7400b8;
    background-image: url(../static/wave.svg), url(../static/wave2.svg);
    background-position: bottom left, top right;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.menu {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 15px 25px;
    width:100%;
    max-width: 60%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align:center   
    
}

.choice {
    background: linear-gradient(rgba(116,0,184,1) 0%, rgba(72,191,227,1) 63%, rgba(128,255,219,1) 100%);
    border-radius: 2em;
    height: 60%;
    margin: 1em;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);

}
.content{
    color: white;
}
.choice:hover{
    background-color: #7400b8 ;
}

.select{

    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 10vh;
}
.select:hover{
    color:black;
}



@media (max-width: 968px) {
     .item {
        width: 100%;
   }
}
.item .content {
    border: 2px solid #e8e8ee;
    display: flex;
    align-items: flex-end;
    padding: 10px 15px;
    border-radius: 4px;
    background: #fff;
    transform: rotate(0) scale(1);
    transition: all 0.2s cubic-bezier(0.28, 0.05, 0.65, 0.97);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
.item .content h2 {
    font-weight: 600;
    color: #5a5863;
    transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
.item .content:after {
    position: absolute;
    bottom: -2px;
    right: -2px;
    content: "";
    width: calc(100% + 4px);
    height: 4px;
    background: #1a7fa8;
    border-radius: 0 0 4px 4px;
    transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
.item .previews {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.item .previews:nth-child(2) .preview-image {
    right: 0;
}
.item .previews .preview-image {
    width: 160px;
    height: 110px;
    transition: all 0.2s cubic-bezier(0.28, 0.05, 0.65, 0.97);
    position: absolute;
    bottom: 10px;
    left: 0;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
.item .previews .preview-image img {
    width: 140%;
}
