html{
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #f72585, #560bad, #4361ee);
    background-size: 400% 400%;
    animation: gradient 20s linear infinite;

height: 100%;
box-sizing: border-box;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 10vH;
}
h3{
    font-size: 2vh;
}
h1,h3 {
    
    font-family: 'Sora', sans-serif;
}
.desc {
    text-align: center;
    line-height: 2em;
    margin-bottom: 4em;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    border-radius: 2em;
    background-color: white;
}
    a{
        text-decoration: none;}
    
    
     .btn {
        border-radius: 60px;
        font-family: 'Sora', sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 2vH;
        border: 2px;
        border-color: white;
        background: #00cf18;
        padding: 11px 20px 10px 20px;
        text-decoration: none;
        transition: 0.4s;
        max-height: 70px;
        max-width: 350px;
      }
      
      .btn:hover {
        text-decoration: none;
        transform:scale(1.1);
        transition: 0.4s;
      }
      