<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'tableStyle.css') }}">
    <!-- <link rel="stylesheet" href="../static/tableStyle.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap" rel="stylesheet">

</head>


<body>

    <div class="topcontainer">
        <nav class="menu">
            <span class="page-title">
                <h2>Top Artists</h2>
            </span>
            <div class="filters">
                <button value="short_term" class="short_term time_range selected">4 weeks</button>
                <button value="medium_term" class="medium_term time_range">6 months</button>
                <button value="long_term" class="long_term time_range">All-time</button>
            </div>
            <a class="other_page" href="{{url_for('topTracks')}}">Top Tracks</a>
        </nav>
        <div class="main-content">
            <div class="resultTable">

            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        console.log($SCRIPT_ROOT)
        </script>
        <!-- <script src="../static/getDataArtists.js"></script> -->
        <script src="{{url_for('static', filename='getDataArtists.js')}}"></script>
    </div>
</body>

</html>