<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/homeStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap" rel="stylesheet">


</head>

<body>
    <div class="menu">
        <div class="choice ">
            <a href="{{url_for('topTracks') }}" class=" btn select content"><span>Top Tracks</span></a>
            <div class="desc"> See your top tracks and make a playlist!</div>
        </div>

        <div class="choice b">
            <a href="{{url_for('topArtists') }}" class="btn select content"><span>Top Artists</span></a>
            <div class="desc"> See your top artists and visit their Spotify page!</div>
        </div>
    </div>

</body>

</html>