<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'tableStyle.css') }}">
    <link rel="stylesheet" href="../static/tableStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap" rel="stylesheet">

</head>


<body>

    <header>
        <h2>Top Tracks</h2>
        <button value="short_term" class="short_term time_range selected">Short Term(4 weeks)</button>
        <button value="medium_term" class="medium_term time_range">Medium term(6 months)</button>
        <button value="long_term" class="long_term time_range">All-time</button>
        <button class="playlist btn btn-white btn-animate">Make a Playlist</button>
    </header>
    <div class="main-content">
        <table class="resultTable" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody class="topTrackResult">
            </tbody>
        </table>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        console.log($SCRIPT_ROOT)
        </script>
    <script src="../static/getData.js"></script>
    <script src="{{url_for('static', filename='getDataTracks.js')}}"></script>
    </div>
</body>

</html>