{%extends 'layout.html' %}
{% block mainContent %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Your Top Tracks</h1>
        <input type="radio" checked id="defaultLength" name="time_range" class="time_range" value="short_term"><input
            type="radio" name="time_range" value="medium_term" class="time_range"><input type="radio" name="time_range"
            value="long_term" class="time_range">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Summary</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-bordered h4 t-h4" id="dataTable" width="100%"
                        cellspacing="0">
                        <thead>
                            <th></th>
                            <th>Song Title</th>
                            <th>Album</th>
                            <th>Artist</th>
                        </thead>
                        <tbody class='topTrackResult'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2020</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
{%endblock%}
{% block scripts %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script> var topTracks = {{ topTracks | tojson | safe }};</script>
<script src="{{ url_for('static', filename='datatables-demo.js') }}"></script>
{%endblock%}

</body>

</html>